useDynLib("QuasR", .registration=TRUE)

import(methods)

import(BiocGenerics)
importFrom(GenomeInfoDb, seqlengths, bsgenomeName, seqlevelsInUse, seqlevels, genome)
importFrom(BiocManager, install)
importFrom(GenomicFiles, reduceByYield, REDUCEsampler)
import(S4Vectors)
import(IRanges)
importFrom(Biobase, createPackage, testBioCConnection)
import(Biostrings)
import(GenomicRanges)
import(BSgenome)
import(Rsamtools)
import(ShortRead)
import(GenomicFeatures)
importFrom(GenomicAlignments, readGAlignments)
import(Rbowtie)
importFrom(rtracklayer, wigToBigWig)

importFrom(parallel, makeCluster, stopCluster, splitIndices)
importFrom(BiocParallel, registered)
importFrom(grDevices, col2rgb, colorRampPalette, dev.new, dev.off, pdf)
importFrom(graphics, abline, axis, barplot, box, layout, legend, matplot,
           par, plot, rect, strheight, strwidth, text)
importFrom(utils, flush.console, install.packages, installed.packages,
           read.delim, read.table, write.table, packageVersion)

exportClasses(qProject)

exportMethods(length, genome, auxiliaries, alignments, "[", show)

export(qAlign, qCount, preprocessReads, qExportWig, qQCReport, qMeth, alignmentStats, qProfile)
